/* .Ec-outer-Card {
    background-color: rgb(141, 140, 140);
    background-color: red;
} */

.Ec-card-events {
    border-top: 2px solid rgba(161, 161, 161, 0.507);

}


.Ec-upper-half {

    overflow-wrap: break-word;

    word-break: break-word;

}

/* .Ec-photo {
    min-width: 400px;
    height: 250px;
} */

.Ec-link {
    color: black;
    text-decoration: none;

}

.Ec-photo {
    min-width: 150px;
    max-width: 400px;
    height: 200px;
    max-height: 400;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

.Ec-upper-half {
    display: flex;

}

.Ec-upper-right {
    padding-top: 15px;
}

.Ec-dateInfo {
    font-size: 1.8vh;
}

.Ec-event-title {
    font-size: 2.2vh;
}

.Ec-desc {
    font-size: 1.8vh;
    padding-top: 20px;
    padding-bottom: 20px;
}
