.lP-sections {
    display: flex;
    flex-direction: column;
}

/* ================SECTION 1=============== */


.section1 {
    display: flex;
    justify-content: center;
}

h1.website-title {
    display: inline;
    font-size: 3rem;
    font-size: 3.7vw;
    font-weight: bold;

}

.title-hook {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px 20px 40px 60px;

    height: 250px;

}


.hook{
    font-size: 2vh;
}
.meetupImg-div {
    display: flex;
    justify-content: start;
  width:  100%
}
.meetupImg{
    /* padding: 20px;

    height: auto; */
    margin-left: 5px;
    width: 100%;

}
/* ======================End of section 1 ======*/



/* ================SECTION 2=============== */

.section2 {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 30px 40px 30px 100px;
    /* width: 50%; */
}

.sec2-title{
    font-size: 3rem;
    font-size: 2.3vw;
    font-weight: bold;
}

.lP-subtitle-sentence{
    width: 50%;
}


.s2-text {
    padding-top: 10px;
    font-size: 2vh;
}

/* ======================End of section 2 ======*/



























/* ================SECTION 3=============== */
/* ======================End of section 3 ======*/


.section3 {
    display: flex;
    justify-content: center;
    text-align: center;

    flex-direction: row;
    /* gap: 20px; */
    padding-top: 10px;
}

.lP-card-img {
    height: 120px;
}

.card-holer {
    display: flex;
}

.lP-card {
    display: inline;
    width: 30%;

}
.lp-start{
    color:grey
}



.lP-card:hover {


    .lP-link {
        text-decoration: underline;
        color: teal
    }
}

.teal-text {
    color:teal
}
.lP-link {
    text-decoration: none;

}


.lp-link-text{
    padding: 0 15px;
    font-size: 1.8vh;
}

.lp-link-title {
    padding-bottom: 0px;
    margin-bottom: 8px;
    font-size: 2.2vh;
}
















/* ================SECTION 4=============== */
.section4 {
    display: flex;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 70px;
}


.join-Down {
    background-color: teal;
    color:white;
    border: 2px solid black;
    box-shadow: 2px 5px black;
    font-size: 2vh;
    padding: 8px;
}


/* ======================End of section 4 ======*/
