.lP-sections {
    display: flex;
    flex-direction: column;
}

/* ================SECTION 1=============== */


.section1 {
    display: flex;
    justify-content: center;
}

h1.website-title {
    display: inline;
}

.title-hook {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
}

/* ======================End of section 1 ======*/



/* ================SECTION 2=============== */

.section2 {
    display: flex;
    justify-content: center;
    text-align: center;
}






/* ======================End of section 2 ======*/



























/* ================SECTION 3=============== */
/* ======================End of section 3 ======*/


.section3 {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: row;
    gap: 20px;
}

.lP-card-img {
    height: 120px;
}

.card-holer {
    display: flex;
}

.lP-card {
    display: inline;

}


.lP-card:hover {
    cursor: pointer;

    .lP-link {
        text-decoration: underline;
        color: teal
    }
}

.lP-link {
    text-decoration: none;
    color: black
}




















/* ================SECTION 4=============== */
.section4 {
    display: flex;
    justify-content: center;
}


/* ======================End of section 4 ======*/
