.Gd-breadcrumb {
    color: teal;
    text-decoration: underline;

}


.Gd-group-img {
    min-width: 500px;
    max-width: 550px;
    min-height: 350px;
    max-height: 450px;
}

.bread-text {
    padding-top: 50px;
}

.Gd-header-div {
    display: flex;
    margin-bottom: 20px;

}

.Gd-header-details{
    padding-left: 25px;
}

.Gd-name{
    font-size: 3vh;
    padding-top: 0;
    margin-top: 0;
}

.Gd-mini-dets {
    color: gray;
}

.Gd-events-privacy {
    display: flex;
}

.Gd-dets-item{
    padding-top: 8px;
    padding-bottom: 8px;
}



.Gd-buttons-div{
    margin-top: 30px;
}

.Gd-action-btn {
    /* width: 87%; */
    margin: 1px;
    height: 35px;
    font-size: 1.5vh;
    background-color: #f64060;
    box-shadow: 2px 5px black;
    border: 1px solid black;
    color: white;
}

.margin-right {
    margin-right: 5px;
}
.Gd-grey {
    background-color: rgba(190, 190, 190, 0.397);
    padding-bottom: 20px;
}



.Gd-org2 {
    font-size: 2.8vh;
    margin-bottom: 10px;
}

.Gd-org-name {
    font-size: 1.8vh;
}


.Gd-what {
    font-size: 2.5vh;
}

.Gd-about {
    margin-bottom: 20px;
    font-size: 2vh;
}

.Gd-event-sec-title {
    font-size: 2.5vh;
    margin-bottom: 10px;
}


.Gd-details-Events-div {
    background-color: white;
    border-radius: 25px;
    margin-top: 15px ;
    width: 700px;
}

.Gd-details-Events-inner-div{
    padding: 10px;
    width: 650px;
}

.no-events {
    margin-top: 30px;
    margin-bottom: 30px;
}

.no-event-filler{
height: 100px;
}
