a,
article,
body,
div,
h1,
h2,
header,
html,
i,
label,
li,
nav,
p,
span,
strong,
ul
 {
  background: transparent;
  border: 0;
  box-sizing: inherit;
  color: inherit;
  font: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
}

ul {
  list-style: none;
}
