.hidden {
    display: none;
}

.logo {
    width: 60px;
    margin-left: 20px;
    margin-top: 10px;
}

.profile-but {
    height: 20px;
}

.profile-div {
    display: flex;
    align-items: center;
}

.nav-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.right-nav {
    margin-right: 30px;
    display: flex;
    gap: 40px
}


ul {
    list-style: none;
}

.loginText{
    font-size: 1.3em;
}

a,
article,
body,
div,
h1,
h2,
header,
html,
i,
label,
li,
nav,
p,
span,
strong,
ul {
    background: transparent;
    border: 0;
    box-sizing: inherit;
    color: inherit;
    font: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
    text-align: inherit;
    text-decoration: inherit;
    vertical-align: inherit;
}


.login-icon {
    color: #f64060;
    font-size: 1.5rem;
    margin-bottom: 3px;
}


.pop-up-div {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    width: fit-content;
    padding: 5px;
    border: 2px solid black;
    height: fit-content;
    position: absolute;
    top: 50px;
    right: 10px;
    background-color: white;
}

.pop-item {
    margin-left: 5px;
    padding: 3px;
}

.popHr {
    width: 93%;
}

.pop-bottom {
    padding-bottom: 5px;
}

i {
    margin: 3px;
}
