.login-div {
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    align-items: center;
    width: 500px;
    margin-top: 10px;
    height: fit-content;
    border-radius: 25px;
    padding-bottom: 40px;
}


.login-title {
    font-size: 2rem;
}

.login-form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 150px;
}


.login-label {
    width: 90%;
    height: 20px;
}

.login-input {
    width: 95%;
    margin-left: 1%;
    height: 20px;
    border: 2px solid black;
    background-color: #e8f0fe;
}

.login-but {
    width: 87%;
    margin-right: 5px;
    height: 35px;
    font-size: 1rem;
    background-color: #f64060;
    box-shadow: 2px 5px black;
    border: 2px solid black;
    color: white;
}

.dis-login{
    width: 87%;
    margin-right: 5px;
    height: 35px;
    font-size: 1rem;
    background-color: white;
    box-shadow: 2px 5px grey;
    border: 1px solid grey;
    color: grey;
}


.login-demo {
    font-size: 1.2rem;
    font-weight: 600;

}



